.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.Benefits, .Origin, .Types, .Importance {
  margin: 30px;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Reset de estilos para garantir uma base consistente */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Estilos para o corpo do site */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Azul claro suave */
  color: #333; /* Texto preto */
}

/* Estilos para o cabeçalho */
header {
  background-color: #007acc; /* Azul vívido */
  padding: 20px;
  color: white;
  text-align: center;
}

/* Estilos para as seções de conteúdo */
section {
  background-color: white;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para os títulos das seções */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007acc; /* Azul vívido */
}

/* Estilos para a lista de benefícios */
ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #333; /* Texto preto */
}

/* Estilos para os itens da lista */
li {
  margin-bottom: 8px;
}

/* Estilos para os links */
a {
  color: #007acc; /* Azul vívido */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #005fa3; /* Azul mais escuro ao passar o mouse */
}
